<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Markdown Sample</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/styles/bootstrap.css" />
    <link rel="stylesheet" href="/static/styles/main.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#/">About</a></li>
          <li><a href="#/import">import</a></li>
        </ul>
        <h3 class="text-muted">Markdown with Evernote</h3>
      </div>
      <div class="jumbotron">
        <h1>Great, Markdown!</h1>
        <p class="lead">Always with Your Note</p>
      </div>

      {% block content %}{% endblock %}

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from Jun Terai</p>
      </div>
    </div>

    <hr/>
    <script src="/static/scripts/jquery.min.js"></script>
    <script src="/static/scripts/vue.min.js"></script>
    <script src="/static/scripts/marked.min.js"></script>
    <script src="/static/scripts/jquery.uploadThumbs.js"></script>
    <script src="/static/scripts/main.js"></script>
    
    <script src="/static/scripts/js/affix.js"></script>
    <script src="/static/scripts/js/alert.js"></script>
    <script src="/static/scripts/js/dropdown.js"></script>
    <script src="/static/scripts/js/tooltip.js"></script>
    <script src="/static/scripts/js/modal.js"></script>
    <script src="/static/scripts/js/transition.js"></script>
    <script src="/static/scripts/js/button.js"></script>
    <script src="/static/scripts/js/popover.js"></script>
    <script src="/static/scripts/js/carousel.js"></script>
    <script src="/static/scripts/js/scrollspy.js"></script>
    <script src="/static/scripts/js/collapse.js"></script>
    <script src="/static/scripts/js/tab.js"></script>
  </body>
</html>

