{% extends 'base.html' %}

{% block content %}
	<div id="content">
		<a class="auth" v-attr="href: response.redirect_url" v-text="response.msg"></a>
		<div id="en_status" v-show="response.status!='redirect'">
			<h4 v-text="'Hello, '+response.username"></h4>
			<select id="notebooks" v-transition v-model="selected">
				<option v-repeat="n: response.notebooks" v-attr="value: n.guid" v-text="n.name"></option>
			</select>
		</div>
		<div class="title_box">
			<input id="title" placeholder="Title" autofocus="autofocus" />
		</div>
		<div class="editor_box">
			<div class="input_box">
				<p>Markdown</p>
				<div class="input_area_all">
					<textarea id="input_area" v-model="input" v-on="scroll: scroll"></textarea>
					<div class="add_filebtn-group">
					 	<input id="image_input" type="file" multiple="multiple" v-on="change: uploadInput">
						<button id="add_file" v-on="click: uploadTrigger">Drop to Upload Or Add file</button>
					</div>
				</div>
			</div>
			<div id="result">
				<p>Preview</p>
				<div id="output">
					<div id="body" v-html="input | marked"></div>
					<div id="attached_files">
						<p>Attached Files</p>
						<figure v-repeat="a: attached_files">
							<img v-attr="src: a.result, alt: a.name" />
							<figcaption v-text="a.name"></figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
		<div class="clip_box" v-show="response.status!='redirect'" v-transition>
			<button id="clip" v-on="click: clip">Clip to Evernote</button>
		</div>

		<div id="div-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Clip Success!</h4>
					</div>
					<div class="modal-body">
						<p v-text="clipped.note.title"></p>
					</div>
					<div class="modal-footer">
						<a v-attr="href: clipped.note.link_to_en_notebook" target='_blank'>Link to Evernote</a>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

