{% extends 'base.html' %}

{% block content %}
	<div id="content">
		<div class="jumbotron">
			<template v-if="response.username">
				<h1 v-text="'Hello, '+response.username"></h1>
			</template>
			<a class="auth" v-on="click: auth" v-attr="href: response.redirect_url" v-text="response.msg"></a>
		</div>
		<div class="items" v-show="response.status!='redirect'">
			<p class="notebook_line">Notebook: <span class="notebook" v-attr="id: response.notebook.guid" v-text="response.notebook.name"></span></p>
			<button id="preview" class="btn" v-on="click: showPreview">Preview</button>
		</div>
		<div class="title_box">
			<input id="title" placeholder="Title your note" v-model="title | store_title" autofocus="autofocus" />
		</div>
		<div class="input_box">
			<textarea id="input_area" v-model="body | store_body" placeholder="Drag files here or just start typing in Markdown..."></textarea>
			<div class="add_filebtn-group">
			 	<input id="image_input" type="file" multiple="multiple" v-on="change: uploadInput">
				<button id="add_file" v-on="click: uploadTrigger">Drop to Upload Or Add file</button>
			</div>
		</div>
		<template v-if="response.status!='redirect'">
			<div class="clip_box"v-transition>
				<button id="clip" class="btn" v-on="click: clip" data-toggle="popover" data-placement="top" data-content="" data-original-title="Save Success!">Save to Evernote</button>
				<a v-attr="href: clipped.note.link_to_en_notebook" target='_blank'>Link to Evernote</a>
			</div>
		</template>
		<div id="div-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="preview_title"></h4>
					</div>
					<div class="modal-body">
						<div id="preview_body"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

