{% extends 'base.html' %}

{% block content %}
	<div id="content">
		<div class="jumbotron">
			<h1 v-text="'Hello, '+response.username" v-show="response.status!='redirect'"></h1>
			<a class="auth" v-attr="href: response.redirect_url" v-text="response.msg"></a>
		</div>
		<div id="en_status" v-show="response.status!='redirect'">
			<select id="notebooks" v-transition v-model="selected">
				<option v-repeat="n: response.notebooks" v-attr="value: n.guid" v-text="n.name"></option>
			</select>
			<button id="preview" class="btn" v-on="click: showPreview">Preview</button>
		</div>
		<div class="title_box">
			<input id="title" placeholder="Title your note" autofocus="autofocus" />
		</div>
		<div class="input_box">
			<textarea id="input_area" v-model="input" v-on="scroll: scroll" placeholder="Drag files here or just start typing in Markdown..."></textarea>
			<div class="add_filebtn-group">
			 	<input id="image_input" type="file" multiple="multiple" v-on="change: uploadInput">
				<button id="add_file" v-on="click: uploadTrigger">Drop to Upload Or Add file</button>
			</div>
		</div>
		<div class="clip_box" v-show="response.status!='redirect'" v-transition>
			<button id="clip" class="btn" v-on="click: clip" data-toggle="popover" data-placement="top" data-content="" data-original-title="Save Success!">Save to Evernote</button>
			<a v-attr="href: clipped.note.link_to_en_notebook" target='_blank'>Link to Evernote</a>			
		</div>

		<div id="div-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Preview</h4>
					</div>
					<div class="modal-body">
						<div id="body"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

